<!--<material-test>material Test</material-test>-->
<md-toolbar color="primary">
    {{title}}
  <span class="app-toolbar-filler"></span>
  <button md-button>{{computerIp}}</button>
</md-toolbar>
<nav md-tab-nav-bar  *ngIf="isTeacher">
  <a md-tab-link
     routerLink="/dashboard"
     routerLinkActive #rla="routerLinkActive"
     [active]="!rla.isActive">
    Dashboard
  </a>
  <a md-tab-link
     routerLink="/students"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Students
  </a>
</nav>
<router-outlet></router-outlet>

