<h1>{{title}}</h1>
<h2>My Students</h2>
<ul class="students">
  <li *ngFor="let student of students"
      [class.selected]="student === selectedStudent"
      (click)="onSelect(student)">
    <span [ngClass]="{yet: student.complete === 0, almost: student.complete === 1, complete: student.complete === 2}">{{student.id}}</span> {{student.name}}
    <button class="delete" (click)="delete(student); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedStudent">
  <h2>
    {{selectedStudent.name | uppercase}} is my student
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
