<div *ngIf="student">
  <h2>{{student.name | uppercase}} details!</h2>

  <section class="join-input-section">
    <md-input-container class="example-full-width">
      <input md-input placeholder="id (disabled)" disabled [(ngModel)]="student.id" value="{{student.id}}">
    </md-input-container>
    <md-input-container>
      <input md-input placeholder="name" [(ngModel)]="student.name">
    </md-input-container>
  </section>

  <section class="join-input-section">
    <md-radio-group [(ngModel)]="student.complete">
      <md-radio-button value="0">아직여</md-radio-button>
      <md-radio-button value="1">거의다함</md-radio-button>
      <md-radio-button value="2">다함여~</md-radio-button>
    </md-radio-group>
  </section>

  <section class="join-input-section">
    <button md-raised-button color="primary" (click)="save()">Save</button>
    <button *ngIf="areYouTeacher" md-raised-button (click)="goBack()">Back</button>
  </section>
</div>
